.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 20px;
}

.card {
    background-color: #d3d3d3;
    border-radius: 10px;
}

p {
    text-align: center;
    padding: 1.3rem;
}

.price {
    background-color: #ff0000;
    color: #fff;
}

a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
    background-color: #00008b;
    width: 130px;
    margin: 0 auto;
    border-radius: 9999px;
    font-weight: bold;
}

ul {
    padding: 1rem 3.5rem;
}
